@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Tenor+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: white;
}


@font-face {
  font-family: 'Gilroy';
  font-weight: 700;
  src: url('/fonts/Gilroy-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 400;
  src: url('/fonts/Gilroy-Regular.ttf') format('opentype');
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-gradient-main {
  background: linear-gradient(1.71deg, rgba(11, 29, 38, 0) 35.49%, rgba(41, 77, 95, 0.844437) 107.95%, #2F566A 133.88%);
}