@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: white;
  font-family: Kanit, sans-serif;
}

body {
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-gradient-main {
  background: linear-gradient(1.71deg, rgba(11, 29, 38, 0) 35.49%, rgba(41, 77, 95, 0.844437) 107.95%, #2F566A 133.88%);
}